name: PHP Composer

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

        # - name: Run test suite
        #   run: composer run-script test

      - name: Send HTML email with SendGrid
        uses: ajitmourya7/action-send-mail@0.0.1
        with:
          sendgrid_api_key: "${{ secrets.SENDGRID_API_KEY }}"
          from_email: "${{ vars.SENDER_EMAIL }}"
          to_email: "${{ vars.RECIPIENT_EMAIL }}"
          subject: "App deployment successful"
          html_content: |
            <h1>The Slim PHP App Has Been Deployed!</h1>
            <p><a href="${{ vars.WEBSITE_URL }}">The latest version of the simple Slim PHP app</a> has been successfully deployed.</p>
            <p>Sent by a custom GitHub Action using Twilio SendGrid.</p>
